<app-navbar></app-navbar>

<div>
    <div class="m-3 position-relative">
        <p class="m-1 fs-2">Branch Offices</p>
        
        <div class="img-fluid m-2">
            <p class="text-center fs-1">Company Name</p>
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Logotipo_empresa.png" width="300"
                class="rounded mx-auto d-block ">
            </div>

            
        </div>
        
    </div>
    <hr>
    

    <button type="button" class="btn btn-outline-danger m-2 gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle " viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
      </svg>
      Add Product
    </button>

    <button type="button" class="btn btn-outline-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow " viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"></path>
      </svg>
      See Graph
    </button>
    
    
    <div class="m-4 text-center table-responsive">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sales</th>
                <th scope="col">Branch Office</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>a</td>
              </tr>
              

            </tbody>
          </table>
          
    </div>
    <div >
        
    </div>


<app-footer></app-footer>
