<app-navbar></app-navbar>
<div class="contenedor">
    <div class="contenedor-sucursales">

        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>Pollo Campero</h3>
                <p>Office zona 10</p>
            </div>
        </div>

        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>Burger King</h3>
                <p>Office zona 3</p>
            </div>
        </div>

        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>McDonalds</h3>
                <p>Office Rooselvelt</p>
            </div>
        </div>

        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>Farmacias Simi</h3>
                <p>Office zona 4</p>
            </div>
        </div>
        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>Pollo brujo</h3>
                <p>Office zona 14</p>
            </div>
        </div>
        
        <div class="card" style="background-image: url('../../../assets/img/Cardales-de-Cayalá-1.jpg')">
            <div class="textos">
                <h3>Starbucks</h3>
                <p>Office zona 16</p>
            </div>
        </div>
    </div>

    <div class="banner" style="background-image: url('')">
        <h3>Offices</h3>
        <ul>
            <li>Name</li>
        </ul>
        <button class="boton">Add Office</button>
    </div>
</div>
<app-footer></app-footer>