<app-navbar></app-navbar>

<br>
<br>

    <div class="contenedor-formulario contenedor">
        <form class="formulario">
            <div class="texto-formulario">
                <h2>Login</h2>
                <p>Login with your company</p>
            </div>


            <div class="input">
                <label class="form-label" >Company</label>
                <input placeholder="Enter Company" type="text" id="form3Example1m1" class="form-control" />
            </div>
            
            <div class="input">
                <label class="form-label">Password</label>
                <input placeholder="Password" type="text" id="form3Example1m1" class="form-control" />
            </div>

            <div class="password-olvidada">
                <a href="#">¿You want to register a company?</a>
            </div>

            <div class="input m-5">
                <input type="button" class="btn btn-primary" value="Login">
            </div>
        </form>
        <div class="imagen-formulario">

        </div>
    </div>
