<app-navbar></app-navbar>

<br>
<br>

    <div class="contenedor-formulario contenedor">
        <form class="formulario">
            <div class="texto-formulario">
                <h2>Iniciar Sesion</h2>
                <p>Ingresa con tu Empresa</p>
            </div>


            <div class="input">
                <label class="form-label" >Empresa</label>
                <input placeholder="Ingresar Empresa" type="text" id="form3Example1m1" class="form-control" />
            </div>
            
            <div class="input">
                <label class="form-label">Empresa</label>
                <input placeholder="Contraseña" type="text" id="form3Example1m1" class="form-control" />
            </div>

            <div class="password-olvidada">
                <a href="#">¿Deseas registrar una Empresa?</a>
            </div>

            <div class="input">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="imagen-formulario">

        </div>
    </div>
